DB_HOST=
DB_PORT=3306
DB_NAME=emailSummarizer
DB_USERNAME=
DB_PASSWORD=

FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://emailsummarizer-ppeh.onrender.com/api/auth/callback

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

JWT_SECRET=